* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
  --neon-box-shadow: 0 0 0.5rem #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

// img {
//   display: block;
//   width: 100%;
//   height: auto;
// }

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

// Media

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1000px) {
  section {
    min-height: 100vh;
    padding-bottom: 10rem;
  }
}

@media (max-width: 991px) {
  section {
    padding: 10rem 3rem 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}


@import "block/*";


/* @import "block/title.scss"; */
