* {
  margin: 100px;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background: aqua;
}

/* @import "block/title.scss"; */

@supports (-webkit-appearance:none) {

}
/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1haW4uc2NzcyIsIm1haW4uY3NzIiwiYmxvY2svaGVhZGVyLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSxhQUFBO0VBQ0EsVUFBQTtFQUNBLDhCQUFBO1VBQUEsc0JBQUE7QUNDRjs7QUNKQTtFQUNFLHNCQUFBO0FET0Y7O0FERUEsZ0NBQUE7QUNDQTs7QUFFQSIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIioge1xuICBtYXJnaW46IDEwMHB4O1xuICBwYWRkaW5nOiAwO1xuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xufVxuXG5AaW1wb3J0IFwiYmxvY2svaGVhZGVyLnNjc3NcIjtcblxuXG5cbi8qIEBpbXBvcnQgXCJibG9jay90aXRsZS5zY3NzXCI7ICovIiwiKiB7XG4gIG1hcmdpbjogMTAwcHg7XG4gIHBhZGRpbmc6IDA7XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG59XG5cbmhlYWRlciB7XG4gIGJhY2tncm91bmQtY29sb3I6IGFxdWE7XG59XG5cbi8qIEBpbXBvcnQgXCJibG9jay90aXRsZS5zY3NzXCI7ICovXG5Ac3VwcG9ydHMgKC13ZWJraXQtYXBwZWFyYW5jZTpub25lKXtcblxufVxuIiwiaGVhZGVyIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogYXF1YTtcbn0iXX0= */