// Header

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar-item {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;

  &:hover {
    color: var(--main-color);
  }

  &.active {
    color: var(--main-color);
  }
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}


// Media

@media (max-width: 991px) {
  .header {
    padding: 2rem 3% 3rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;

    &.active {
      display: block;
      
    }

    .navbar-item {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
    }
  }
}