/* Home */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img img {
  width: 30vw;
  border-radius: 50%;
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content {
  h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
  }

  h3 {
    font-size: 3.2rem;
    font-weight: 700;

    &:nth-of-type(2) {
      margin-bottom: 2rem;
    }
  }

  p {
    font-size: 1.6rem;
    margin-right: 100px;
  }
}

span {
  color: var(--main-color);
}

.social-media {
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;

    &:hover {
      background: var(--main-color);
      color: var(--second-bg-color);
      box-shadow: 0 0 1rem var(--main-color);
    }
  }
}

/* Btn */

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6em;
  font-weight: 600;
  color: var(--second-bg-color);

  &:hover {
    box-shadow: none;
  }
}

// Media

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .home-img {
    margin-top: 100px;
    margin-bottom: 50px;

    img {
      width: 70vw;
      border-radius: 50%;
    }
  }

  .home-content {
    h1 {
      font-size: 5rem;
    }

    h3 {
      font-size: 2.6rem;
    }
  }
}

@media (max-width: 400px) {
  .home-img {
    img {
      width: 90vw;
    }
  }
}